table.compacto td, table.compacto th{
	padding: 5px;
	max-height: 200px;
	overflow-y: hidden;
}
table.bordered{
	border:1px solid #ddd;
	margin-top: 1em;
}
table th{
	background: #eee;
}
body{
	background: #eee;
}
.btn.small{
	height: 26px;
	line-height: 26px;
	font-size: 80%;
	padding: 0px 1em;
}
#flashMessage{
	width: 40%;
	font-size: 30px;
	border-radius: 5px;
	text-align: center;
	padding: 1em;
	margin: 160px auto 0px;
	position: relative;
	background: white;
	box-shadow: 0px 3px 3px rgba(0,0,0,.5);
}
.sombra{
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0px;
	height: 100%;
	left: 0px;
	width: 100%;
}
