@import url('https://fonts.googleapis.com/css?family=Kreon');
@import url('https://fonts.googleapis.com/css?family=Lato');

@media only screen and (min-width : 1200px) {
	.container{
		width: 1200px;
	}
}

p,div,td,th,li{
	font-family: Lato, helvetica, arial;
	font-size: 18px;
}

nav .button-collapse i {
    line-height: 40px !important;
}
main a{
	color: #A01027;
}

.indicator-item.active{
	background: #A01027 !important;
}
.chico{
	font-size: 90%;
}
.slider h4{
	background: rgba(0,0,0,.5);
	display: block;
	width: 100%;
}
.comentarios{
	margin-top: 10em;
}
.cake-debug{
	font-size: 12px;
	background:yellow;
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.colortestigo{
	background: #A01027;
}

nav{
	line-height: 40px;
	height: 40px;
}

.animacion_ultimas{
	background: #eee;
}

.titulocategoria{
	text-transform: uppercase;
	font-size: 120%;
	background: #eee;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.titulocategoria a{
	color:#001C3C;
	font-family: Lato, helvetica, arial;
	font-size: 120%;
	margin-left: 1em;
}

h1,h2,h3,h4,h5{
	font-family: kreon, helvetica, arial;
}

h2{
	font-size: 2.56rem;
}

.noticia-completa p{
	margin-top: 3em;
	text-align: justify;
}

.altura{
    background-position: center;
    background-size: cover;
    width: 1%;
    height: 200px;
    color: white;
    display: table-cell;
    vertical-align: bottom;}
.altura span, .altura h5{
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.5);
    padding: 5px;
    min-height: 4em;
    display: block;
    text-shadow: 2px 1px 2px black;
    margin: 0px;
}
